.profil-page {
  padding: 2rem 0;

  .card {
    border: none;
    border-radius: 1rem;

    .card-header {
      border-bottom: 2px solid #f8f9fa;
      padding: 1.25rem;

      h4 {
        color: #333;
        font-weight: bold;
      }
    }

    .card-body {
      padding: 1.5rem;

      .row {
        padding: 0.5rem 0;

        strong {
          color: #555;
        }
      }
    }
  }

  .btn {
    padding: 0.75rem;
    font-weight: 500;
  }
//  margin: 4.5px
}

