.integration-container {
  background: #4459b6;
  min-height: 100vh;
}

.circle-menu {
  width: 400px;
  height: 500px;
}

.circle-item {
  border: 5px solid rgba(255, 255, 255, 0.5);
  background-color: #314188;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
}

.circle-item:hover {
  border: 6px solid white;
  color: white;
  transform: translate(-50%, -50%) scale(1.15);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}

